<html>

<head>
    <title>查询交易详情</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>

<body>
    <div id="nav"></div>
    <script>
        $("#nav").load("html/nav.html")
    </script>

    <div id="main">
        <h1>查询交易详情</h1>
        <input type="text" id="transaction-info-hash">
        <button onclick="checkTransaciton()">查询</button>
        <pre id="transaction-info"></pre>
    </div>

</body>

</html>