<html>

<head>
    <title>创建钱包</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>

<body>
    <div id="nav"></div>
    <script>
        $("#nav").load("html/nav.html")
    </script>

    <div id="main">
        <h1>创建一个新的钱包</h1>
        <form method="POST" action="/newaccount">
            <input type="text" placeholder="请输入密码" name="password">
            <button type="submit">创建钱包</button>
        </form>
    </div>
</body>

</html>